body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

body h1 {
    color: aliceblue;
    text-align: center;
}

.playing-card {
    width: 130px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 5px;
    transition: 0.2s;
    margin: 5px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.playing-card p {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

@media screen and (max-width: 1200px){
    .playing-card {
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width: 511px) {
    .playing-card {
        width: 70px;
        height: 100px;
    }

    .playing-card p {
        font-size: 35px;
    }
}

.playground {
    border: solid 5px firebrick;
    background-color: #35654d;
    border-radius: 10px;
    width: 90vw;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playground h5 {
    font-size: 20px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

.playground #dealer-score, .playground #player-score {
    color: yellowgreen;
}

#dealer, #player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.separator {
    width: 100%;
    border: solid 1px darkgoldenrod;
}

.controls {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.controls button {
    width: 100px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;

}

.controls button:hover {
    background-color: rgb(150, 138, 138);
}

.controls #play-again {
    background-color: darkgoldenrod;
}




#aniamte_button {
    width: 60px;
    height: 50px;
    background-color: chocolate;
}
.animate__flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}